<ul class="nav nav-tabs">
  <li role="presentation">
    <%= link_to "Home", root_path %>
  </li>
  <li role="presentation">
    <%= link_to "Create New", new_support_path %>
  </li>
  <div class="input-group" style = "margin-top:4px">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
    <input type="text" class="form-control" placeholder="Search for...">
  </div>
</ul>
